Django==1.8.6

psycopg2==2.5.3
flup==1.0.2
unidecode==0.04.16
Pillow==2.5.1

django-extensions==1.5.9
django-braces==1.4.0
django-gravatar2==1.1.4
django-leaflet==0.17
django-autoslug==1.7.2
django-taggit==0.17.3
django-debug-toolbar==1.4
django-markitup==2.2.1
django-flatpages-x==0.1.2
django-markdown-deux==1.0.4
django-countries==3.4.1
