
@font-face {
    font-family: Biolinum;
    src: url("fonts/LinBiolinum_R.woff");
}

@font-face {
    font-family: Biolinum;
    src: url("fonts/LinBiolinum_RB.woff");
    font-weight: bold;
}

@font-face {
    font-family: Biolinum;
    src: url("fonts/LinBiolinum_RI.woff");
    font-style: italic;
}
