.baza-fondo {
    background-color: #5d7e33;
}

html {
    height: 100%;
}

html, body {
    margin: 0;
    padding: 0;
}

body {
    font-family: Biolinum, sans-serif;
    font-size: 18x;
    position: relative;
    min-height: 100%;
}

body.plenekrana {
    height: 100%;
}

a {
    text-decoration: none;
}

header {
    height: 42px;
}


header h1 {
    margin-left: 2%;
    position: absolute;
    top: -1px;
}

header h1 a {
    font-size: 37px;
    color: white;
    letter-spacing: -.1em;
    font-family: Biolinum;
    font-weight: normal;
}

header h1 a span {
    color: #cf0;
    transition: margin-left .2s;
}

header h1:hover a span {
    margin-left: 7px;
}

header .fa {
    margin-right: .4rem;
}


.konekti {
    position: absolute;
    right: 0;
    margin-top: .4rem;
}

.konekti a {
    display: inline-block;
    margin-right: .3em;
    font-size: 1.1rem;
    font-weight: bold;
    color: white;
    text-decoration: none;
    padding: 4px 16px;
    background: rgba(0,0,0,.5);
    border-radius: 7px;
}

.konekti a:hover,
.konekti a:active,
.konekti a:focus {
    background: rgba(0,0,0,.3);
}

.uzanto {
    position: absolute;
    right: 0;
}

.uzanto p {
    float: right;
}

.uzanto .uzanto-nomo {
    padding-bottom: .3rem;
    margin-right: 1rem;
    margin-top: .5rem;
    font-size: 1.3rem;
    font-weight: bold;
}

.uzanto-nomo a {
    color: white;
}

.dinamika-menuo {
    z-index: 1000;
    position: absolute;
    display: none;
}

.dinamika-menuo a {
    padding: 0 1.4rem;
    font-size: 1.1rem;
    display: table-cell;
    vertical-align: middle;
    color: white;
    min-width: 8em;
    height: 2rem;
}

.dinamika-menuo li a:hover,
.dinamika-menuo li a:focus,
.dinamika-menuo li a:active {
    background: rgba(0,0,0,.2);
    color: #cf0;
}

#uzanto-menuo {
    right: 42px;  /* Weight of avatar */
    top: 42px;  /* Height of header */
}

#lingvo-menuo {
    left: 0;  /* Weight of avatar */
    bottom: 30px;  /* Height of header */
}

main {
    padding-bottom: 30px; /* Height of footer */
}

#maldekstra {
    float: left;
}

#dekstra {
    float: right;
}


footer {
    height: 30px;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
}

footer #lingvo {
    display: inline-block;
    position: absolute;
    bottom: .3rem;
    margin-left: 1%;
    font-weight: bold;
    font-size: 1.2rem;
    color: white;
}

footer #lingvo a {
    color: white;
}


footer .fa {
    position: relative;
    top: .12rem;
}

#piedo-menuo {
    display: inline-block;
    width: 100%;
    text-align: center;
    list-style: none;
    padding-top: .4rem;
}

#piedo-menuo li {
    display: inline-block;
    color: white;
}

#piedo-menuo li a {
    color: white;
    text-decoration: none;
}

#piedo-menuo li a:hover,
#piedo-menuo li a:active,
#piedo-menuo li a:focus {
    color: #cf0;
    opacity: 1;
}

footer #tistel {
    position: absolute;
    bottom: 0;
    right: 8px;
    opacity: .5;
}

footer #tistel:hover {
    opacity: .8;
}

/***** Formularoj *****/

form {
    margin: 20px auto;
    width: 20em;
}

form ul li {
    list-style: none;
    margin-bottom: .8em;
}

label {
    display: block;
}

[required] {
    border: 1px solid gray;
}

select, input, textarea {
    display: block;
    border: 1px solid silver;
    box-shadow: 1px 1px 0.2em rgba(0, 0, 0, 0.3) inset;
    border-radius: .2em;
    font-size: 1em;
    padding: .1em .3em;
    font-family: Biolinum;
    background: white;
}

.helptext {
    opacity: .6;
    font-size: 80%;
    margin-top: .2em;
    padding-left: .2em;
    
}


input[type="submit"] {
    color: white;
    font-weight: bold;
    box-shadow: none;
    margin: 0 auto;
    font-size: 130%;
}

input[type="submit"]:hover,
input[type="submit"]:active,
input[type="submit"]:focus {
    box-shadow: 1px 1px 0.2em rgba(0, 0, 0, 0.3) inset;
}

/*** flatpages ***/
.flatpage {
    margin: 2em auto;
    max-width: 600px;
}
