

html {
    height: 100%;
}

html, body {
    margin: 0;
    padding: 0;
}

body {
    font-family: Biolinum, sans-serif;
    font-size: 18x;
    position: relative;
    min-height: 100%;
}

body.plenekrana {
    height: 100%;
}

a {
    text-decoration: none;
}

header {
    background-color: #73b037;
    padding: 0;
    margin: 0;
    height: 40px;
}

header p {
}

header h1 {
    position: absolute;
    top: -5px;
    margin: 0;
    padding: 0;
    margin-left: 24px;
}

header h1 a {
    font-size: 37px;
    color: white;
    letter-spacing: -.1em;
    font-family: Biolinum;
    font-weight: normal;
}

header h1 a span {
    color: #cf0;
}


.konekti {
    position: absolute;
    right: 0;
    margin-top: 6px;
}

.konekti a {
    display: inline-block;
    margin-right: .3em;
    font-size: 16px;
    color: white;
    text-decoration: none;
    padding: 4px 16px;
    background: rgba(0,0,0,.5);
    border-radius: 7px;
    font-family: "PT Caption";
}

.konekti a:hover,
.konekti a:active,
.konekti a:focus {
    background: rgba(0,0,0,.3);
}

main {
    padding-bottom: 30px; /* Height of footer */
}

section {
    position: relative;
}

aside {
    width: 20%;
}

#maldekstra {
    float: left;
}

#dekstra {
    float: right;
}


footer {
    background-color: #73b037;
    height: 30px;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
}

footer #lingvo {
    display: inline-block;
    position: absolute;
    bottom: 4px;
    font-weight: bold;
    font-size: 1.2em;
    color: white;
    padding: 0 .6em ;
    margin: 0;
}

footer ul {
    display: inline-block;
    width: 100%;
    font-size: 1.1em;
    text-align: center;
    list-style: none;
    padding: 3px 0 0 0; margin: 0 auto;
}

footer ul li {
    display: inline-block;
    color: white;
}

footer ul li a {
    color: white;
    opacity: .6;
    text-decoration: none;
}

footer ul li a:hover,
footer ul li a:active,
footer ul li a:focus {
    opacity: 1;
}
