<!DOCTYPE HTML>
{% load staticfiles %}
{% load i18n %}
<html lang="eo">
<meta http-equiv="Content-Type" content="text/html" charset="utf-8" />

    <head>
        <title>esperantio{% block head-title %}{% endblock head-title %}</title>
        <link rel="shortcut icon" type="image/png" href="favicon.png" />
        <link rel="stylesheet" type="text/css" href="{% static 'css/font.css' %}" />
        <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}" />
        {% block extra-css %}{% endblock extra-css %}
        {% block extra-js %}{% endblock extra-js %}
    </head>

    <body{% block body-class %}{% endblock body-class %}>
        <header>
            {% if not user.is_authenticated %}
                {% with next=request.get_full_path|urlencode %}
                    <p class="konekti">
                        <a href="{% url 'uzanto_create' %}{% if next != '/' %}?next={{ next }}{% endif %}">{% trans "registriĝu" %}</a>
                        <a href="{% url 'konekti' %}{% if next != '/' %}?next={{ next }}{% endif %}">{% trans "ensalutu" %}</a>
                    </p>
                {% endwith %}
            {% else %}
                <p class="konekti"><a href="{% url 'uzanto_detail' %}">{{ user.salutnomo }}</a></p>
            {% endif %}
            <h1>
                <a href="{% url 'evento_list' %}">esperant<span>io</span></a>
            </h1>
        </header>

        <main{% block main-class %}{% endblock main-class %}>
            {% block content %}
            {% endblock content %}
        </main>
        
        <footer>
            {% block footer %}
            <p id="lingvo">eo</p>
            <ul>
                <li><a href="">helpo</a> |</li>
                <li><a href="">leĝaj informoj</a> |</li>
                <li><a href="">API</a> |</li>
                <li><a href="">kontribui</a> |</li>
                <li><a href="">pri ni</a></li>
            </ul>
            <p id="tistel"><img src="{% static 'img/tistel.png' %}" alt="logo" title="tistel" /></p>
            {% endblock footer %}
        </footer>
    </body>
</html>
