<!DOCTYPE HTML>
{% load staticfiles %}
{% load i18n %}
<html lang="eo">
<meta http-equiv="Content-Type" content="text/html" charset="utf-8" />

    <head>
        <title>esperant.io{% block head-title %}{% endblock head-title %}</title>
        <link rel="shortcut icon" type="image/png" href="favicon.png" />
        <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}" />
        {% block extra-css %}{% endblock extra-css %}
        {% block extra-js %}{% endblock extra-js %}
    </head>

    <body>
        <header>
            {% if not user.is_authenticated %}
                {% with next=request.get_full_path|urlencode %}
                    <p id="konekti">
                        <a href="{% url 'konekti' %}{% if next != '/' %}?next={{ next }}{% endif %}">{% trans "konekti" %}</a>
                    </p>
                {% endwith %}
            {% else %}
                <p id="konekti"><a href="{% url 'elsaluti' %}">{{ user.salutnomo }}</a></p>
            {% endif %}
            <h1>esperant<span>io</span> {% block header-title %}{% endblock header-title %}</h1>
        </header>

        <main>
            {% block content %}
            {% endblock content %}
        </main>
        
        <footer>
            {% block footer %}
            <div id="lingvo">eo</div>
            <ul>
                <li><a href="">helpo</a> |</li>
                <li><a href="">leĝaj informoj</a> |</li>
                <li><a href="">API</a> |</li>
                <li><a href="">kontribui</a> |</li>
                <li><a href="">pri ni</a></li>
            </ul>
            {% endblock footer %}
        </footer>
    </body>
</html>
