{% extends 'evento/base_evento.html' %}
{% load i18n %}


    {% block content %}
        <form
            action="{% block form_action %}{% endblock form_action %}"
            method="{% block form_method %}post{% endblock form_method %}"
            {% block form_extra_attrs %}class="styled ui-autoLabelWidth"{% endblock %}>
            {{ form.as_p }}
        
        <input class="agoj" type="submit"
            value="{% block form_submit_text %}{% trans 'Konekti' %}{% endblock %}" />
        <input type="hidden" name="next" value="{{ next }}" />
        
        {% csrf_token %}

        </form>
        <p><a href="{% url 'uzanto_create' %}">{% trans "Nova sur Esperant.io?" %}</a></p>
    {% endblock content %}
