{% extends 'base.html' %}
{% load i18n %}

{% block body-class %} class="registrado"{% endblock body-class %}

{% block header %}
{% endblock header %}

{% block main %}
    <main>
        <section>
            <h1 class="logo" id="logo">
                <a href="{% url 'hejmo' %}">esperant<span>io</span></a>
            </h1>
            <form id="registrado-form" action="" method="post">
                {% csrf_token %}

                {{ form.non_field_errors }}
                
                {{ form.as_p }}
                {% comment %}
                    
                {% for field in form %}
                    <p>·{{ field.error_messages|join:", " }}·
                        <input id="{{ field.auto_id }}" name="{{ field.name }}"
                            type="{{ field.field.widget.input_type }}" maxlength="30"
                            placeholder="{{ field.label}}"
                            {% if field.field.required %}required{% endif %}
                            {% if forloop.first %}autofocus{% endif %}></input>
                    </p>
                {% endfor %}
                {% endcomment %}
                <input type="submit" class="baza-fondo" value="{% trans 'Ek!' %}" />
            </form>
        </section>
    </main>
{% endblock main %}

{% block footer %}
{% endblock footer %}
