
h2 { text-align: center; font-size: 2em; }
#datoloko { position: absolute; top: -2em; }


main.plenekrana {
    height: calc(100% - 70px);
}

#mapo {
    height: 100%;
}

#mapo-form {
    float: left;
    width: 300px;
    border-radius: 12px;
    cursor: crosshair;
}

#pickmeup-range {
    float: left;
    margin-top: 20px;
    font-size: 20px;
    font-weight: bold;
}

p.agoj {
    position: absolute;
    top: 4em;
    right: 2em;
    z-index: 4;
}

p.agoj a,
p.agoj a:hover {
    color: black;
    background-color: #fff;
    border-bottom: 1px solid #ccc;
    box-shadow: 0 1px 5px rgba(0,0,0,0.65);
    border-radius: 4px;
    padding: 2px .7em;
    font-size: 1.1em;
    text-decoration: none;
}

p.agoj a:hover,
p.agoj a:focus {
    background-color: #f4f4f4;
    outline: none;
}

p.agoj a:active {
    box-shadow: 0 1px 2px rgba(0,0,0,0.45);
    outline: none;
    position: relative;
    bottom: -1;
}

/***** Formularoj *****/

form {
    margin: 20px auto;
    width: 20em;
}

form ul li {
    list-style: none;
    margin-bottom: .8em;
}

label {
    display: block;
}

[required] {
    border: 1px solid gray;
}

select, input, textarea {
    display: block;
    border: 1px solid silver;
    box-shadow: 1px 1px 0.2em rgba(0, 0, 0, 0.3) inset;
    border-radius: .2em;
    font-size: 1em;
    padding: .1em .3em;
    font-family: Biolinum;
    text-align: center;
    background: white;
}

.helptext {
    opacity: .6;
    font-size: 80%;
    margin-top: .2em;
    padding-left: .2em;
    
}


input[type="submit"] {
    color: white;
    font-weight: bold;
    background: #73b037;
    box-shadow: none;
    margin: 0 auto;
    font-size: 130%;
}

input[type="submit"]:hover,
input[type="submit"]:active,
input[type="submit"]:focus {
    box-shadow: 1px 1px 0.2em rgba(0, 0, 0, 0.3) inset;
}
