{% extends 'eventoj/base_evento.html' %}
{% load staticfiles %}
{% load i18n %}
{% load firstof from future %}

{% block content %}
    <aside class="agoj">
        <p>
            <a href="{% url 'arangxo_update' object.pk %}">{% trans "Redakti" %}</a>
        </p>
        <p>
            <a href="{% url 'evento_create' object.pk %}">{% trans "Aldonu eventon" %}</a>
        </p>
    </aside>
    <h2>{{ object.mallonga_nomo }}</h2>
    <h3>{{ object.nomo }}</h3>
    
    
    <div id="datumoj">
        <p>{{ object.min_homoj }} — {{ object.max_homoj }}</p>
        <p>{{ object.get_publiko_display }}</p>
        <p>{{ object.retejo|urlize }}</p>
        <p>{{ object.retposxto|urlize }}</p>
        <p>
            {% for organizo in object.organizo_set.all %}
                <a href="{% url 'organizo_detail' organizo.pk %}">organizo.nomo</a>{% if not forloop.last %},{% endif %}
            {% endfor %}
        </p>
        <p>{% firstof object.ofteco '-' %}</p>
        <p>{% firstof object.dauro '-' %}</p>
        <p>
            {% for etikedo in object.etikedoj.all %}
                {{ etikedo }}{% if not forloop.last %},{% endif %}
            {% endfor %}
        </p>
    </div>

    <ul>
        {% for evento in object.evento_set.all %}
            <li><a href="{% url 'evento_detail' evento.pk %}">{{ evento.urbo }}, {{ evento.komenco }} — {{ evento.fino }}</a></li>
        {% endfor %}
    </ul>

{% endblock content %}
