{% extends 'eventoj/base_evento.html' %}
{% load staticfiles %}
{% load i18n %}
{% load firstof from future %}

{% block content %}
    <aside class="agoj">
        <p>
            <a href="{% url 'arangxo_update' arangxo.slug %}">{% trans "Redakti" %}</a>
        </p>
        <p>
            <a href="{% url 'evento_create' arangxo.slug %}">{% trans "Aldonu eventon" %}</a>
        </p>
    </aside>
    <h2>{{ arangxo.mallonga_nomo }}</h2>
    <h3>{{ arangxo.nomo }}</h3>
    
    
    <div id="datumoj">
        <p>{{ arangxo.min_homoj }} — {{ arangxo.max_homoj }}</p>
        <p>{{ arangxo.get_publiko_display }}</p>
        <p>{{ arangxo.retejo|urlize }}</p>
        <p>{{ arangxo.retposxto|urlize }}</p>
        <p>
            {% for organizo in arangxo.organizo_set.all %}
                <a href="{% url 'organizo_detail' organizo.pk %}">organizo.nomo</a>{% if not forloop.last %},{% endif %}
            {% endfor %}
        </p>
        <p>{% firstof arangxo.ofteco '-' %}</p>
        <p>{% firstof arangxo.dauro '-' %}</p>
        <p>
            {% for etikedo in arangxo.etikedoj.all %}
                {{ etikedo }}{% if not forloop.last %},{% endif %}
            {% endfor %}
        </p>
    </div>

    <ul>
        {% for evento in arangxo.evento_set.all %}
            <li><a href="{% url 'evento_detail' evento.arangxo.slug evento.jaro evento.monato evento.tago %}">{{ evento.urbo }}, {{ evento.komenco }} — {{ evento.fino }}</a></li>
        {% endfor %}
    </ul>

{% endblock content %}
