{% extends 'eventoj/base_evento.html' %}
{% load staticfiles %}
{% load i18n l10n %}
{% load firstof from future %}
{% load leaflet_tags %}
{% load django_markdown %}

{% block extra-js %}
    {{ block.super }}
    {% leaflet_js %}
    {% leaflet_css %}
    <script type="text/javascript" src="{% static 'js/mapo.js' %}"></script>
{% endblock extra-js %}

{% block content %}
    <aside class="agoj">
        <p><a href="{% url 'evento_update' object.pk %}">{% trans "Redakti" %}</a></p>
    </aside>

    {% leaflet_map "mapo" callback="window.object_detail" %}
    <section class="enhavo">
        <article class="evento">
            <p class="komenco-fino">
                <i class="komenco">{{ object.komenco|date:"l d F Y"|lower }}</i>
                <i class="fino">{{ object.fino|date:"l d F Y"|lower }}</i>
            </p>
            <p class="centrita dika">{{ object.urbo }}, {{ object.lando.name }}</p>
            <h2 class="evento-temo centrita" id="evento-temo">
                {{ object.temo }}
            </h2>
            <p>{{ object.priskribo|markdown|linebreaks }}</p>
        </article>

        <aside class="arangxo">
            <h1 class="arangxo-nomo centrita" id="arangxo-nomo">
                <a href="{% url 'arangxo_detail' object.arangxo.pk %}">
                    {{ object.arangxo.nomo }}
                </a>
            </h1>
            <p class="arangxo-mallonga-nomo centrita" id="arangxo-mallonga-nomo">
                <a href="{% url 'arangxo_detail' object.arangxo.pk %}">
                    — {{ object.arangxo.mallonga_nomo }} —
                </a>
            </p>
            <p>
                {% blocktrans with publiko=object.arangxo.get_publiko_display trimmed %}
                    Por {{ publiko }}
                {% endblocktrans %}
            </p>
            <p>
                {% if object.arangxo.ofteco %}
                    {% blocktrans with ofteco=object.arangxo.get_ofteco_display trimmed %}
                        Okazas {{ ofteco }}
                    {% endblocktrans %}
                {% endif %}
            </p>
            <p>
                {% if object.arangxo.dauro %}
                    {% blocktrans with dauro=object.arangxo.dauro count dauro=dauro trimmed %}
                        Daŭras {{ dauro }} tagon
                    {% plural %}
                        Daŭras {{ dauro }} tagojn
                    {% endblocktrans %}
                {% endif %}
            </p>
            <p><i class="fa fa-globe"></i> {{ object.arangxo.retejo }}</p>
            <p><i class="fa fa-facebook-square"></i> {{ object.arangxo.facebook }}</p>
            <p><i class="fa fa-twitter"></i> {{ object.arangxo.twitter }}</p>
            <p title="ĉ. {% firstof object.nb_partoprenantoj object.arangxo.nb_partoprenantoj %} partoprenantoj atenditaj">
                {% firstof object.nb_partoprenantoj object.arangxo.nb_partoprenantoj %}
                <i class="fa fa-male"></i>
            </p>
        </aside>
    </section>

    <div id="object"
        lat="{{ object.lat|unlocalize }}"
        long="{{ object.long|unlocalize }}"
        nomo="{{ object.arangxo.nomo }}"
        jaro="{{ object.jaro }}"
        urbo="{{ object.urbo }}">
    </div>
{% endblock content %}

