{% extends 'eventoj/base_evento.html' %}
{% load staticfiles %}
{% load i18n %}
{% load leaflet_tags %}

{% block extra-js %}
    {{ block.super }}
    {% leaflet_js %}
    {% leaflet_css %}
    <script type="text/javascript" src="{% static 'js/jquery.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/mapo.js' %}"></script>
{% endblock extra-js %}

{% block content %}
    <h2>{% trans "Kie estas la sekva E-renkontiĝo?" %}</h2>
    <p class="agoj"><a href="{% url 'arangxo_create' %}">{% trans "Aldonu arangxon" %}</a></p>
    
    {% leaflet_map "mapo" callback="window.object_list" %}

    {% for object in object_list %}
        <p id="evento_{{object.pk}}" class="evento">
            {{ object.pk }} 
            <span class="nomo">{{ object.arangxo.nomo }}</span>
            <span class="jaro">{{ object.jaro }}</span>
            <span class="urbo">{{ object.urbo }}</span>
            <span class="lat">{{ object.lat }}</span>
            <span class="long">{{ object.long }}</span>
        </p>
    {% endfor %}
{% endblock content %}
