{% extends 'eventoj/base_evento.html' %}
{% load staticfiles %}
{% load i18n %}
{% load firstof from future %}
{% load leaflet_tags %}
{% load django_markdown %}

{% block extra-js %}
    {{ block.super }}
    {% leaflet_js %}
    {% leaflet_css %}
    <script type="text/javascript" src="{% static 'js/mapo.js' %}"></script>
{% endblock extra-js %}

{% block content %}
    <aside class="agoj">
        <p><a href="{% url 'evento_update' object.pk %}">{% trans "Redakti" %}</a></p>
    </aside>

    {% leaflet_map "mapo" callback="window.object_detail" %}

    <h2>
        <a href="{% url 'arangxo_detail' object.arangxo.pk %}">
            {% firstof object.arangxo.mallonga_nomo object.arangxo.nomo %}
        </a>
    </h2>

    <h3>{{ object.temo }}</h3>

    <div id="">
        <p><strong>{{ object.komenco|date:"d M Y" }}</strong> <span>{{ object.fino|date:"d M Y" }}</span></p>
        <p>{{ object.urbo }}</p>
    </div>

    <div id="datumoj">
        <p>{{ object.created }}</p>
        <p>{{ object.modified }}</p>
        <p>{{ object.retejo }}</p>
        <p>{{ object.retposxto }}</p>
        <p>{{ object.posxtkodo }}</p>
        <p>{{ object.lando.name }}</p>
        <p>ĉ. {{ object.nb_partoprenantoj }} partoprenantoj atenditaj</p>
        <p>{{ object.arangxo.get_publiko_display }}</p>
        {{ object.priskribo|markdown|linebreaks }}
    </div>

    <div id="object"
        lat="{{ object.lat }}"
        long="{{ object.long }}"
        nomo="{{ object.arangxo.nomo }}"
        jaro="{{ object.jaro }}"
        urbo="{{ object.urbo }}">
    </div>
{% endblock content %}

