{% extends 'eventoj/base_evento.html' %}
{% load staticfiles %}
{% load i18n l10n %}
{% load firstof from future %}
{% load leaflet_tags %}
{% load django_markdown %}

{% block extra-js %}
    {{ block.super }}
    {% leaflet_js %}
    {% leaflet_css %}
    <script type="text/javascript" src="{% static 'js/mapo.js' %}"></script>
{% endblock extra-js %}

{% block content %}
    <aside class="agoj">
        <p><a href="{% url 'evento_update' evento.arangxo.slug evento.jaro evento.monato evento.tago %}">{% trans "Redakti" %}</a></p>
    </aside>

    {% leaflet_map "mapo" callback="window.object_detail" %}
    <section class="enhavo">
        <article class="evento">
            <p class="komenco-fino">
                <i class="komenco">{{ evento.komenco|date:"l d F Y"|lower }}</i>
                <i class="fino">{{ evento.fino|date:"l d F Y"|lower }}</i>
            </p>
            <p class="centrita dika">{{ evento.urbo }}, {{ evento.lando.name }}</p>
            <h2 class="evento-temo centrita" id="evento-temo">
                {{ evento.temo }}
            </h2>
            <p>{{ evento.priskribo|markdown|linebreaks }}</p>
        </article>

        <aside class="arangxo">
            <h1 class="arangxo-nomo centrita" id="arangxo-nomo">
                <a href="{% url 'arangxo_detail' evento.arangxo.slug %}">
                    {% if evento.kioma %}
                        {{ evento.kioma }}-a
                    {% endif %}
                    
                    {% if evento.arangxo.mallonga_nomo %}
                        {{ evento.arangxo.mallonga_nomo }}
                    {% else %}
                        {{ evento.arangxo.nomo }}
                    {% endif %}
                </a>
            </h1>

            {% if evento.arangxo.mallonga_nomo %}
                <p class="centrita">
                    — {{ evento.arangxo.nomo }} —
                </p>
            {% endif %}
            <p title="inter {{ evento.arangxo.min_homoj }} kaj {{ evento.arangxo.max_homoj }} partoprenantoj atenditaj">
                <i class="fa fa-male"></i>
                {{ evento.arangxo.min_homoj }} – {{ evento.arangxo.max_homoj }}
            </p>
            <p>
                {% blocktrans with publiko=evento.arangxo.get_publiko_display trimmed %}
                    Por {{ publiko }}
                {% endblocktrans %}
            </p>
            <p>
                {% if evento.arangxo.ofteco %}
                    {% blocktrans with ofteco=evento.arangxo.get_ofteco_display trimmed %}
                        Okazas {{ ofteco }}
                    {% endblocktrans %}
                {% endif %}
            </p>
            <p>
                {% if evento.arangxo.dauro %}
                    {% blocktrans with dauro=evento.arangxo.dauro count dauro=dauro trimmed %}
                        Daŭras {{ dauro }} tagon
                    {% plural %}
                        Daŭras {{ dauro }} tagojn
                    {% endblocktrans %}
                {% endif %}
            </p>
            {% if evento.arangxo.retejo %}
                <p><i class="fa fa-globe"></i>
                <a href="{{ evento.arangxo.retejo }}" target="_blank">{{ evento.arangxo.retejo }}</a>
                </p>
            {% endif %}
            {% if evento.arangxo.retposxto %}
                <p><i class="fa fa-envelope"></i>
                <a href="mailto:{{ evento.arangxo.retposxto }}">{{ evento.arangxo.retposxto }}</a>
                </p>
            {% endif %}
            {% if evento.arangxo.facebook %}
                <p><i class="fa fa-facebook-square"></i>
                <a href="{{ evento.arangxo.facebook_url }}" target="_blank">facebook.com/{{ evento.arangxo.facebook }}</a>
                </p>
            {% endif %}
            {% if evento.arangxo.twitter %}
                <p>
                    <i class="fa fa-twitter"></i>
                    <a href="{{ evento.arangxo.twitter_url }}" target="_blank">@{{ evento.arangxo.twitter }}</a>
                </p>
            {% endif %}

            <br />
            <p><a href="{% url 'arangxo_update' evento.arangxo.slug %}"><i class="fa fa-edit"></i> {% trans "Aldonu detalojn" %}</a></p>
        </aside>
    </section>

    <div id="object"
        lat="{{ evento.lat|unlocalize }}"
        long="{{ evento.long|unlocalize }}"
        nomo="{% if evento.kioma %}{{ evento.kioma }}-a {% endif %}{{ evento.arangxo.nomo }}"
        jaro="{{ evento.jaro }}"
        urbo="{{ evento.urbo }}">
    </div>
{% endblock content %}

