{% extends 'eventoj/base_evento.html' %}
{% load i18n %}
{% load static %}
{% load leaflet_tags %}

{% block extra-js %}
    {{ block.super }}
    <script type="text/javascript" src="{% static 'js/jquery.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/jquery.pickmeup.min.js' %}"></script>
    {% leaflet_js %}
    {% leaflet_css %}
    <script type="text/javascript" src="{% static 'js/mapo.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/form.js' %}"></script>
{% endblock extra-js %}

{% block extra-css %}
    {{ block.super }}
    <link rel="stylesheet" type="text/css" href="{% static 'css/pickmeup.css' %}" />
{% endblock extra-css %}

{% block content %}

    <form action="" method="post">{% csrf_token %}

        <section id="kiam" class="kadro">
            <h2>Kiam?</h2>
            <div id="pickmeup-range" data-pmu-format="Y-m-d"></div>
        </section>
        
        <section id="kio" class="kadro">
            <h2>Kio?</h2>
            <ul>{{ form.arangxo.as_ul }} </ul>
        </section>
        
        <section id="kie" class="kadro">
            <h2>Kie?</h2>
            {% leaflet_map "mapo-form" callback="object_form" %}
        </section>
        
        <section id="kia" class="kadro">
            <h2>Kia?</h2>
            <ul>{{ form.evento.as_ul }} </ul>
        </section>
    
        <input type="submit" value="{% trans 'Aldonu!' %}" class="baza-fondo" />
    </form>
    <div id="object"
        lat="{{ object.lat }}"
        long="{{ object.long }}"
        nomo="{{ object.arangxo.nomo }}"
        jaro="{{ object.jaro }}"
        urbo="{{ object.urbo }}">
    </div>

{% endblock content %}
