{% extends 'eventoj/base_evento.html' %}
{% load i18n l10n %}
{% load static %}
{% load leaflet_tags %}

{% block extra-js %}
    {{ block.super }}
    <script type="text/javascript" src="{% static 'js/jquery.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/jquery.pickmeup.min.js' %}"></script>
    {% leaflet_js %}
    {% leaflet_css %}
    <script type="text/javascript" src="{% static 'js/mapo.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/form.js' %}"></script>
{% endblock extra-js %}

{% block extra-css %}
    {{ block.super }}
    <link rel="stylesheet" type="text/css" href="{% static 'css/pickmeup.css' %}" />
{% endblock extra-css %}

{% block content %}

    <form action="" method="post" class="custom">{% csrf_token %}
        {{ form.non_field_errors }}
        <section id="kiam" class="kadro">
            <h2>Kiam?</h2>
            <div id="pickmeup-range" data-pmu-format="Y-m-d"></div>
            <p class="errors">{{ form.komenco.errors }}</p>
                {{ form.komenco }}
                {{ form.fino }}
        </section>
        
        <section id="kio" class="kadro">
            <h2>Kio?</h2>
            <ul>
                <li>{{ form.nomo.errors }}<label>{{ form.nomo.label|capfirst }}</label> {{ form.nomo }}</li>
                <li>{{ form.mallonga_nomo.errors }}<label>{{ form.mallonga_nomo.label|capfirst }}</label> {{ form.mallonga_nomo }}</li>
                <li>{{ form.publiko.errors }}<label>{{ form.publiko.label|capfirst }}</label> {{ form.publiko }}</li>
                <li>{{ form.retejo.errors }}<label>{{ form.retejo.label|capfirst }}</label> {{ form.retejo }}</li>
                <li>{{ form.nb_partoprenantoj.errors }}<label>{{ form.nb_partoprenantoj.label|capfirst }}</label> {{ form.nb_partoprenantoj }}<i class="helptext">{{ form.nb_partoprenantoj.help_text }}</i></li>
            </ul>
        </section>
        
        <section id="kie" class="kadro clear-left">
            <h2>Kie?</h2>
            {% leaflet_map "mapo-form" callback="object_form" %}
            <br />
            <p class="errorlist">
                {% if form.lat.errors %}
                    {% blocktrans trimmed %}
                        Bonvelu klaki sur la mapon por lokigi la eventon!
                    {% endblocktrans %}
                {% endif %}
            </p>
            <ul>
                <li>{{ form.urbo.errors }}<label>{{ form.urbo.label|capfirst }}</label> {{ form.urbo }}</li>
                <li>{{ form.posxtkodo.errors }}<label>{{ form.posxtkodo.label|capfirst }}</label> {{ form.posxtkodo }}</li>
                <li>{{ form.lando.errors }}<label>{{ form.lando.label|capfirst }}</label> {{ form.lando }}</li>
                {{ form.lat }}
                {{ form.long }}
            </ul>
        </section>
        
        <section id="kia" class="kadro">
            <h2>Kia?</h2>
            <ul>
                <li>{{ form.temo.errors }}<label>{{ form.temo.label|capfirst }}</label> {{ form.temo }}</li>
                <li>{{ form.etikedoj.errors }}<label>{{ form.etikedoj.label|capfirst }}</label> {{ form.etikedoj }}</li>
                <li>{{ form.priskribo.errors }}<label>{{ form.priskribo.label|capfirst }}</label> {{ form.priskribo }}</li>
            </ul>
        </section>
    
        <input type="submit" value="{% trans 'Aldonu!' %}" class="baza-fondo" />
    </form>
    <div id="object"
        lat="{{ object.lat|unlocalize }}"
        long="{{ object.long|unlocalize }}"
        nomo="{{ object.arangxo.nomo }}"
        jaro="{{ object.jaro }}"
        urbo="{{ object.urbo }}">
    </div>

{% endblock content %}
