{% extends 'eventoj/base_evento.html' %}
{% load i18n l10n %}
{% load static %}
{% load leaflet_tags %}

{% block extra-js %}
    {{ block.super }}
    <script type="text/javascript" src="{% static 'js/jquery.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/jquery.pickmeup.min.js' %}"></script>
    {% leaflet_js %}
    {% leaflet_css %}
    <script type="text/javascript" src="{% static 'js/mapo.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/form.js' %}"></script>
{% endblock extra-js %}

{% block extra-css %}
    {{ block.super }}
    <link rel="stylesheet" type="text/css" href="{% static 'css/pickmeup.css' %}" />
{% endblock extra-css %}

{% block content %}

    <form action="" method="post" class="custom">{% csrf_token %}
    
        {{ form.non_field_errors }}
        
        <section id="kio" class="kadro">
            <h2>Kio?</h2>
            <ul>
                <li>{{ form.nomo.errors }}<label>{{ form.nomo.label|capfirst }}</label> {{ form.nomo }}
                    <datalist id="nomo_list">
                        {% for arangxo in object_list %}
                            <option value="{{ arangxo.nomo }}">
                        {% endfor %}
                    </datalist>
                </li>
                <li>{{ form.mallonga_nomo.errors }}<label>{{ form.mallonga_nomo.label|capfirst }}</label> {{ form.mallonga_nomo }}
                    <datalist id="nomo_list">
                        {% for arangxo in object_list %}
                            <option value="{{ arangxo.mallonga_nomo }}">
                        {% endfor %}
                    </datalist>
                </li>
                <li>{{ form.temo.errors }}<label>{{ form.temo.label|capfirst }}</label> {{ form.temo }}</li>
                <li>{{ form.retejo.errors }}<label>{{ form.retejo.label|capfirst }}</label> {{ form.retejo }}</li>
            </ul>
        </section>
        
        <section id="kiam" class="kadro">
            <h2>Kiam?</h2>
            <div id="pickmeup-range" data-pmu-format="Y-m-d"></div>
            {% if form.komenco.errors %}
                <p class="errorlist">
                    {% blocktrans trimmed %}
                        Kiam komencos la renkontiĝo?
                    {% endblocktrans %}
                </p>
            {% endif %}
            <p class="helptext centrita">{% trans "Klaku sur la kalendaron por elekti komencdaton kaj findaton!" %}</p>
                {{ form.komenco }}
                {{ form.fino }}
        </section>
        
        <section id="kia" class="kadro clear-left">
            <h2>Kia?</h2>
            <ul>
                <li>{{ form.nb_partoprenantoj.errors }}<label>{{ form.nb_partoprenantoj.label|capfirst }}</label> {{ form.nb_partoprenantoj }}<i class="helptext">{{ form.nb_partoprenantoj.help_text }}</i></li>
                <li>{{ form.publiko.errors }}<label>{{ form.publiko.label|capfirst }}</label> {{ form.publiko }}</li>
                <li>{{ form.etikedoj.errors }}<label>{{ form.etikedoj.label|capfirst }}</label> {{ form.etikedoj }}<i class="helptext">{{ form.etikedoj.help_text }}</i></li>
                <li>{{ form.priskribo.errors }}<label>{{ form.priskribo.label|capfirst }}</label> {{ form.priskribo }}</li>
            </ul>
        </section>
        
        <section id="kie" class="kadro">
            <h2>Kie?</h2>
            {% leaflet_map "mapo-form" callback="object_form" %}
            <br />
            {% if form.lat.errors %}
                <p class="errorlist">
                    {% blocktrans trimmed %}
                        Bonvelu klaki sur la mapon por lokigi la eventon!
                    {% endblocktrans %}
                </p>
            {% endif %}
            <p class="helptext centrita">{% trans "Klaku sur la mapon por elekti lokon!" %}</p>
            <ul id="loko">
                <li>
                    {{ form.urbo.errors }}<label>{{ form.urbo.label|capfirst }}</label> {{ form.urbo }}
                    <a href="#" id="urbo-sercxo">{% trans "Montru!" %}</a> <b class="atendilo"></b>
                    <p id="urbo-ne-trovita" class="atento">{% trans "Ooh, mi ne trovis tiun urbon…" %}</p>
                </li>
                <li>
                    {{ form.lando.errors }}<label>{{ form.lando.label|capfirst }}</label> {{ form.lando }}
                </li>
                {{ form.posxtkodo }}
                {{ form.lat }}
                {{ form.long }}
            </ul>
        </section>
    
        <input type="submit" value="{% trans 'Aldonu!' %}" class="baza-fondo" />
    </form>

{% endblock content %}
