
@font-face {
    font-family: Biolinum;
    src: url("fonts/LinBiolinum_R.woff");
}
@font-face {
    font-family: Biolinum;
    src: url("fonts/LinBiolinum_RB.woff");
    font-weight: bold;
}
@font-face {
    font-family: Biolinum;
    src: url("fonts/LinBiolinum_RI.woff");
    font-style: italic;
}
@font-face {
    font-family: Poetsen;
    src: url("fonts/PoetsenOne_R.woff");
}

body { margin: 0; font-family: Poetsen, Biolinum, "Trebuchet MS", serif; font-size: 1.3em; color: #333; }
header { box-shadow: 0 0 5px 5px rgba(0,0,0,.2); padding-left: 1.5em; padding-bottom: .5em; }
header h1 { margin: 0; color: white; font-size: 2em; text-shadow: 2px 2px 1px rgba(0,0,0,.3); font-family: Poetsen }
header h1 span { opacity: .7; text-shadow: 4px 4px 2px rgba(0,0,0,.2); top: 0; position: relative; }
header h1 span { transition: opacity 1s; }
header h1:hover span { text-shadow: 2px 2px 1px rgba(0,0,0,.3); opacity: 1; top: 1px;}

#konekti { display: block; float: right; font-weight: bold; margin: .66em 1.4em; text-shadow: -1px -1px rgba(0,0,0,.3); }
#konekti a { color: White; opacity: .6; font-size: 1.4em; text-decoration: none; transition: opacity .4s; }
#konekti a:hover, #konekti a:focus { color: white; outline: none; opacity: .9; }
#konekti a:active { text-shadow: 0 0 6px; }

main { position: relative; }
