header { background: #90CCCB; }

h2 { text-align: center; font-size: 2em; }
#datoloko { position: absolute; top: -2em; }

#mapo, #mapo_form { box-shadow: 0 0 5px 5px rgba(0,0,0,.2); height: 300px; }
#granda_mapo { box-shadow: 0 0 10px 5px rgba(0,0,0,.3); height: 700px; }

#datumoj {
    margin: 0 3em;
}


/***** Butono *****/

.agoj { position: absolute; top: 0; right: 0; }
.agoj a, input.agoj {
    color: LightGray;
    font-size: 1.2em;
    font-weight: bold;
    text-decoration: none;
}

/***** Formularoj *****/
form {
    margin: 0 18em;
}

#mapo_form {
    margin-top: 10em; position: relative;
}

form p {
    margin: 1em auto;
}

form p input {
    border: none;
    box-shadow: inset 0 0 .3em rgba(0,0,0,.4);
    border-radius: .2em;
    font-size: 1em;
    padding: .1em .3em;
    font-family: Biolinum;
    text-align: center;
    float: right;
}


