<!DOCTYPE HTML>
{% load staticfiles %}
{% load i18n %}
<html lang="eo">

    <head>
        <meta http-equiv="Content-Type" content="text/html" charset="utf-8" />
        <title>Esperantio{% block head-title %}{% endblock head-title %}</title>
        <link rel="shortcut icon" type="image/png" href="favicon.png" />
        <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}" />
        {% block extra-css %}{% endblock extra-css %}
        {% block extra-js %}{% endblock extra-js %}
    </head>

    <body>
        <header>
            <p id="konekti"><a href="">{% trans "konekti" %}</a></p>
            <h1>esperant<span>io</span> {% block header-title %}{% endblock header-title %}</h1>
        </header>

        <main>
            {% block content %}
                Devus esti enhavo normale…
            {% endblock content %}
        </main>
        
        <footer>
            {% block footer %}
            {% endblock footer %}
        </footer>
    </body>
</html>
