{% extends 'evento/base_evento.html' %}
{% load staticfiles %}
{% load i18n %}

{% block content %}
    <h2>{{ object.nomo }}</h2>
    <h3>{{ object.longa_nomo }}</h3>
    <p class="agoj"><a href="{% url 'arangxo_update' object.pk %}">{% trans "Redakti" %}</a>
        <br/><a href="{% url 'evento_create' object.pk %}">{% trans "Aldonu eventon" %}</a>
    </p>
    
    
    <div id="datumoj">
        <p>{{ object.get_skalo_display }}</p>
        <p>{{ object.get_temo_display }}</p>
        <p>{{ object.get_publiko_display }}</p>
    </div>

{% endblock content %}
