{% extends 'evento/base_evento.html' %}
{% load staticfiles %}
{% load i18n %}

{% block content %}
    <h2>{{ object.nomo }}</h2>
    <div id="datoloko">
        <p><strong>{{ object.komenco|date:"d M Y" }}</strong> <span>{{ object.fino|date:"d M Y" }}</span></p>
        <p>{{ object.urbo }}</p>
    </div>
    <p class="agoj"><a href="{% url 'evento_update' object.pk %}">{% trans "Redakti" %}</a></p>
    
    <div id="mapo"></div>
    
    <div id="datumoj">
        <p>{{ object.retejo }}</p>
        <p>{{ object.retposxto }}</p>
        <p>{{ object.organizo }}</p>
        <p>{{ object.longa_nomo }}</p>
        <p>{{ object.posxtkodo }}</p>
        <p>{{ object.lando }}</p>
        <p>{{ object.nb_partopr }}</p>
        <p>{{ object.get_skalo_display }}</p>
        <p>{{ object.get_temo_display }}</p>
        <p>{{ object.get_publiko_display }}</p>
    </div>
    
    
    <link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet-0.7.1/leaflet.css" />
    <script src="http://cdn.leafletjs.com/leaflet-0.7.1/leaflet.js"></script>
    <script>
        var lat = {{ object.lat }};
        var long = {{ object.long }};
        var map = L.map('mapo').setView([lat, long], 13);
        var tiles = 'http://{s}.tile.openstreetmap.fr/hot/{z}/{x}/{y}.png'
        L.tileLayer(tiles, {
            attribution: 'Mapaj datumoj &copy; <a href="http://openstreetmap.org">OpenStreetMap</a> kontribuantoj',
            maxZoom: 19
        }).addTo(map);
        var marker = L.marker([lat, long]).addTo(map);
        var mess = "<strong>{{ object.nomo }} {{ object.jaro }}</strong><br/>{{ object.urbo }}";
        marker.bindPopup(mess).openPopup();
    </script>
{% endblock content %}

