{% extends 'base.html' %}

{% block content %}
    {{ object.nomo }}
    {{ object.get_temo_display }} | {{ object.lat }},{{ object.long }}
    <link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet-0.7.1/leaflet.css" />
    <script src="http://cdn.leafletjs.com/leaflet-0.7.1/leaflet.js"></script>
    <div id="mapo" style="height: 380px"></div>
    
    <script>
        var lat = {{ object.lat }};
        var long = {{ object.long }};
        var map = L.map('mapo').setView([lat, long], 13);
        var tiles = 'http://{s}.tile.openstreetmap.fr/hot/{z}/{x}/{y}.png'
        L.tileLayer(tiles, {
            attribution: 'Mapaj datumoj &copy; <a href="http://openstreetmap.org">OpenStreetMap</a> kontribuantoj',
            maxZoom: 19
        }).addTo(map);
        var marker = L.marker([lat, long]).addTo(map);
        var mess = "<strong>{{ object.nomo }} {{ object.jaro }}</strong><br/>{{ object.urbo }}";
        marker.bindPopup(mess).openPopup();
    </script>
{% endblock content %}

